div.guilds-wrapper,
div.search-bar,
div.channel.btn-friends,
div.container-iksrDt,
div.scrollerFade-28dRsO > div > span > header,
div.flexChild-1KGW5q {
    display: none;
}

div.channels-3g2vYe.vertical-3X17r5.flex-3B1Tl4.directionColumn-2h-LPR {
    position: absolute;
    width: 100%;
}

div.channel.private {
    float: left;
}

div.scroller-fzNley {
    padding-top: 0px!important;
}

div.chat.flex-vertical.flex-spacer.private {
    margin-top: 41px;
}
.private-channels .channel.selected a,
.private-channels .channel:hover a,
.private-channels .channel a {
    margin-left: 0px!important;
    border-radius: 0px;
}

.private-channels .channel.selected a {
    background-color: #36393f!important;
}
.private-channels .channel:hover a {
    background-color: rgba(79,84,92,.6)!important;
}

div.titleWrapper-3Vi_wz.theme-dark > div {
    height: 35px;
}
div.channel-name,
span.channel-name {
    width: 17px;
    opacity: 0!important;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.private-channels .channel:hover .channel-name {
    width: 125px;
    opacity: 1!important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
div.avatar-small.stop-animation,
div.avatar-small.animate {
    margin-right: -20px!important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.private-channels .channel:hover .avatar-small {
    margin-right: 20px!important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

div.flex-spacer.flex-vertical > form > div {
    margin-top: 28px;
    margin-bottom: 12px;
}

div.typing-3eiiL_ {
    top: -26px;
}

.membersWrap-3wRngy {
    min-width:100px!important;
    width:100px!important;
}

div.membersWrap-3wRngy > div > div > div {
    padding-top:2px;
    margin: 0px;
}

div.membersWrap-3wRngy > div > div > div:hover .memberInner-3XUq9K  {
    margin-left:8px;
    transition: all 0.5s ease;
}

div.membersWrap-3wRngy > div > div > div span.avatarWrapper-3E-a5I {
    transition: all 0.4s ease;
}

div.membersWrap-3wRngy > div > div > div:hover span.avatarWrapper-3E-a5I {
    margin-left:-50px;
    transition: all 0.2s ease;
}

.scroller-fzNley.members-1bid1J {
    width:20px;
}

div.membersGroup-3_dP5E {
    padding-left:6px;
    height:20px;
    min-width:100px;
}

div.discord-tag.nameTag-26T3kW {
    margin-left:25px;
}

.quickswitcher-2NdiGJ {
    padding:10px;
    width:90vw;
    margin:auto;
}

.container-3uJcWB {
    width:100%;
}